In [35]:
from ucimlrepo import fetch_ucirepo 
from pyspark.sql import SparkSession
import os

spark_master = os.environ.get("SPARK_MASTER_URL")
default_of_credit_card_clients = fetch_ucirepo(id=350)

In [38]:
spark = SparkSession.builder \
    .appName("Explore Spark Session") \
    .master(spark_master) \
    .getOrCreate()

In [39]:
# fetch dataset 
X = spark.createDataFrame(default_of_credit_card_clients.data.features)
y = spark.createDataFrame(default_of_credit_card_clients.data.targets)

In [40]:
X.X2.value_counts(normalize=True)

TypeError: 'Column' object is not callable

In [31]:
X.X3.value_counts(normalize=True)

X3
2    0.467667
1    0.352833
3    0.163900
5    0.009333
4    0.004100
6    0.001700
0    0.000467
Name: proportion, dtype: float64

In [32]:
y.describe()

                  Y
count  30000.000000
mean       0.221200
std        0.415062
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

In [25]:
X.describe()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,...,3.000000e+04,30000.000000,30000.000000,30000.000000,30000.000000,3.000000e+04,30000.00000,30000.000000,30000.000000,30000.000000
mean,167484.322667,1.603733,1.853133,1.551867,35.485500,-0.016700,-0.133767,-0.166200,-0.220667,-0.266200,...,4.701315e+04,43262.948967,40311.400967,38871.760400,5663.580500,5.921163e+03,5225.68150,4826.076867,4799.387633,5215.502567
std,129747.661567,0.489129,0.790349,0.521970,9.217904,1.123802,1.197186,1.196868,1.169139,1.133187,...,6.934939e+04,64332.856134,60797.155770,59554.107537,16563.280354,2.304087e+04,17606.96147,15666.159744,15278.305679,17777.465775
min,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-1.572640e+05,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.00000,0.000000,0.000000,0.000000
25%,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2.666250e+03,2326.750000,1763.000000,1256.000000,1000.000000,8.330000e+02,390.00000,296.000000,252.500000,117.750000
50%,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.008850e+04,19052.000000,18104.500000,17071.000000,2100.000000,2.009000e+03,1800.00000,1500.000000,1500.000000,1500.000000
75%,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,6.016475e+04,54506.000000,50190.500000,49198.250000,5006.000000,5.000000e+03,4505.00000,4013.250000,4031.500000,4000.000000
max,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,8.000000,...,1.664089e+06,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.00000,621000.000000,426529.000000,528666.000000

# Credit Data Features

- **X1: Amount of the given credit (NT dollar):**  
  It includes both the individual consumer credit and his/her family (supplementary) credit.
  
- **X2: Gender:**  
  - 1 = male  
  - 2 = female

- **X3: Education:**  
  - 1 = graduate school  
  - 2 = university  
  - 3 = high school  
  - 4 = others

- **X4: Marital status:**  
  - 1 = married  
  - 2 = single  
  - 3 = others

- **X5: Age (year)**

- **X6 - X11: History of past payment:**  
  These represent the past monthly payment records from April to September 2005.  
  - **X6:** Repayment status in September 2005  
  - **X7:** Repayment status in August 2005  
  - **X8:** Repayment status in July 2005  
  - **X9:** Repayment status in June 2005  
  - **X10:** Repayment status in May 2005  
  - **X11:** Repayment status in April 2005  

  **Measurement Scale for Repayment Status:**  
  - -1 = pay duly  
  - 1 = payment delay for one month  
  - 2 = payment delay for two months  
  - ...  
  - 8 = payment delay for eight months  
  - 9 = payment delay for nine months and above

- **X12 - X17: Amount of bill statement (NT dollar):**  
  - **X12:** Amount of bill statement in September 2005  
  - **X13:** Amount of bill statement in August 2005  
  - **X14:** Amount of bill statement in July 2005  
  - **X15:** Amount of bill statement in June 2005  
  - **X16:** Amount of bill statement in May 2005  
  - **X17:** Amount of bill statement in April 2005

- **X18 - X23: Amount of previous payment (NT dollar):**  
  - **X18:** Amount paid in September 2005  
  - **X19:** Amount paid in August 2005  
  - **X20:** Amount paid in July 2005  
  - **X21:** Amount paid in June 2005  
  - **X22:** Amount paid in May 2005  
  - **X23:** Amount paid in April 2005